<div class="container">
    <div class="columns">

        <div class="column is-one-fifth">
            <box class="box">
                <i class="icon"> {{>icons/location}}</i>
                <label class="label">Station</label>
                <p>{{name}}</p>
                <p>Latitude: {{lat}}</p>
                <p>Longitude: {{lng}}</p>
            </box>
        </div>

        <div class="column is-one-fifth">
            <box class="box">
                <i class="icon">{{#if (eq codeConversion 'Rain')}}
                    <i class="fas fa-cloud-rain"></i>
                    {{else if (eq codeConversion 'Cloudy')}}
                    <i class="fas fa-cloud"></i>
                    {{else if (eq codeConversion "Partial clouds")}}
                    <i class="fas fa-cloud-sun"></i>
                    {{else if (eq codeConversion 'Clear')}}
                    <i class="fas fa-sun"></i>
                    {{else if (eq codeConversion 'Light Showers')}}
                    <i class="fas fa-cloud-sun-rain"></i>
                    {{else if (eq codeConversion 'Heavy Showers')}}
                    <i class="fas fa-cloud-showers-heavy"></i>
                    {{else if (eq codeConversion 'Snow')}}
                    <i class="fas fa-snowflake"></i>
                    {{else if (eq codeConversion 'Thunder')}}
                    <i class="fas fa-cloud-bolt"></i>
                    {{else}}
                    <i></i>
                    {{/if}}</i>
                <label class="label">Weather</label>
                <p>{{codeConversion}}</p>
            </box>
        </div>

        <div class="column is-one-fifth">
            <box class="box">
                <i class="icon">{{>icons/temp}}</i>
                <label class="label">Temperature</label>
                <p>{{latestReading.temperature}} °C</p>
                <p>{{fahrenheit}} °F</p>
                <p>Max: {{maxTemp}}</p>
                <p>Min: {{minTemp}}</p>
                    {{#if (eq tempTrend 'rising')}}
                    <p>Trend: <i class="fas fa-arrow-up"></i></p>
                    {{else if (eq tempTrend 'falling' )}}
                    <p>Trend:<i class="fas fa-arrow-down"></i></p>
                    {{else}}
                    <i></i>
                    {{/if}}
            </box>
        </div>

        <div class="column is-one-fifth">
            <box class="box">
                <i class="icon">{{>icons/wind}}</i>
                <label class="label">Wind</label>
                <p>{{beafourt}} Bft</p>
                <p>{{windCompass}}</p>
                <p>Feels like {{windChill}}</p>
                <p>Max: {{maxWind}}</p>
                <p>Min: {{minWind}}</p>
                    {{#if (eq windTrend 'rising')}}
                    <p>Trend: <i class="fas fa-arrow-up"></i></p>
                    {{else if (eq windTrend 'falling' )}}
                    <p>Trend: <i class="fas fa-arrow-down"></i></p>
                    {{else}}
                    <i></i>
                    {{/if}}
            </box>
        </div>

        <div class="column is-one-fifth">
            <box class="box">
                <i class="icon">{{>icons/pressure}}</i>
                <label class="label">Pressure</label>
                <p>{{latestReading.pressure}} hpa</p>
                <p>Max: {{maxPressure}}</p>
                <p>Min: {{minPressure}}</p>
                    {{#if (eq pressureTrend 'rising')}}
                    <p>Trend: <i class="fas fa-arrow-up"></i></p>
                    {{else if (eq pressureTrend 'falling' )}}
                    <p>Trend: <i class="fas fa-arrow-down"></i></p>
                    {{else}}
                    <i></i>
                    {{/if}}
                </p>

            </box>
        </div>

    </div>
</div>