<div class="container">
    <div class="columns">

        <div class="column is-one-fifth">
            <box class="box">
                <i class="icon"> {{>icons/location}}</i>
                <label class="label">Station</label>
                <p>{{station.name}}</p>
                <p>Latitude: {{station.lat}}</p>
                <p>Longitude: {{station.lng}}</p>
            </box>
        </div>

        <div class="column is-one-fifth">
            <box class="box">
                <i class="icon">{{>icons/weather}}</i>
                <label class="label">Weather</label>
                <p>{{latestReading.code}}</p>
            </box>
        </div>

        <div class="column is-one-fifth">
            <box class="box">
                <i class="icon">{{>icons/temp}}</i>
                <label class="label">Temperature</label>
                <p>{{latestReading.temperature}} °C</p>
                <p>{{fahrenheit}} °F</p>
                <p>Max: {{maxTemp}}</p>
                <p>Min: {{minTemp}}</p>
            </box>
        </div>

        <div class="column is-one-fifth">
            <box class="box">
                <i class="icon">{{>icons/wind}}</i>
                <label class="label">Wind</label>
                <p>{{beafourt}} Bft</p>
                <p>{{windCompass}}</p>
                <p>Feels like {{windChill}}</p>
                <p>Max: {{maxWind}}</p>
                <p>Min: {{minWind}}</p>
            </box>
        </div>

        <div class="column is-one-fifth">
            <box class="box">
                <i class="icon">{{>icons/pressure}}</i>
                <label class="label">Pressure</label>
                <p>{{latestReading.pressure}} hpa</p>
                <p>Max: {{maxPressure}}</p>
                <p>Min: {{minPressure}}</p>
            </box>
        </div>

    </div>
</div>