{{> menu}}

<section class="section">
  {{> latestReading}}
</section>
<div class="box" id="chart"></div>
<script>
  const data = {
    labels: [
      {{#each latestReading.trendLabels}}
        "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        name: "Temperature", type: "line",
        values: [
          {{#each latestReading.tempTrend}}
            {{this}},
          {{/each}}
        ]
      }
    ]
  }

  const chart = new frappe.Chart("#chart", {
    title: "Temperature Trend",
    data: data,
    type: 'line',
    height: 250,
  })
</script>
<section class="section">
  <div class="title">
    {{station.name}}
  </div>
  {{> list-readings}}
  {{> add-reading}}

  <section class="section">
    <form action="/station/{{station._id}}/addreport"method="POST">    
      <div class="field is-grouped">
        <button class="button is-danger">Auto Generate Reading for {{station.name}}</button>
      </div>
    </form>
  </section>
</section>